body {
    text-align: center;
}
h2 {
    text-transform: uppercase;
    color: #206020;
}
form {
    padding: 30px;
    display: inline-block;
    font-size: 30px;
    color: #fff;
    background-color: #206020;
    margin: 30px;
}
input {
    padding: 15px;
    margin-left: 15px;
    width: 350px;
    height: 50px;
    font-size: 20px;
}
.user {
    border: 2px solid #206020;
    display: inline-block;
    margin: 15px;
    padding: 10px;
}
a {
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}